[user]
	email = shibuyanorailgun@gmail.com
	name = nr

[alias]
  o = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --color=always
  type = cat-file -t
  dump = cat-file -p

[core]
  editor = vim
