[user]
  # email = junyu.wjy@alibaba-inc.com
  # name = 索加
  email = shibuyanorailgun@gmail.com
  name = nr

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch --verbose
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --color=always
  type = cat-file -t
  dump = cat-file -p

[core]
  editor = vim
